.DS_Store
vendor/
*.out
config.yml
var/
!var/lib/hypercheck-api/.gitkeep
hypercheck-api
hypercheck-dns-agent
hypercheck-http-agent
hypercheck-manager
hypercheck-scheduler
hypercheck-ssl-agent
node_modules
cmd/hypercheck-manager/node_modules
!cmd/hypercheck-api
!cmd/hypercheck-dns-agent
!cmd/hypercheck-http-agent
!cmd/hypercheck-manager
!cmd/hypercheck-scheduler
!cmd/hypercheck-ssl-agent
dev/
!etc/hypercheck-api/config.yml.dist
